@(	message: String, 
	users: List[views.formdata.UserFormData],
	userForm: Form[views.formdata.UserFormData]
	)

@import b3.vertical.fieldConstructor

@main("Add User Form", tab = "index") {
<div class="container">
		@b3.form(routes.Application.postIndex) {
		<div class="row">
		<div class="col-md-3">
		    @b3.text( userForm("username"), '_label -> "Username", 'placeholder -> "Username" )
		    @b3.text( userForm("role"), '_label -> "Role", 'placeholder -> "Role" )
		    @b3.password( userForm("password"), '_label -> "Password", 'placeholder -> "Password" )
		    
		    <div class="form-group">
		    	<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-ok"></span> Save changes</button>
					<a class="btn cancel"> <span class="glyphicon glyphicon-remove"></span> Cancel</a>
				</div>
			</div>
		 </div>
		 </div>
		}
		
		@if(flash.containsKey("success")) {
			<div class="alert alert-success" role="alert">
				@flash.get("success")
			</div>
		}
		@if(flash.containsKey("error")) {
		    <div class="alert alert-danger" role="alert">
		    	@flash.get("error")
		    </div>
	    }
		
		@message
		
    	<p class="text-right"><a class="btn btn-default btn-xs" href="reset-all" role="button">Delete All!</a></p>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Username</th>
					<th>Role</th>
					<th>Password</th>
					<th>Actions</th>
				</tr>
			</thead>
			@for(user <- users) {
			<tr>
				<td>@user.getId()</td>
				<td>@user.getUsername()</td>
				<td>@user.getRole()</td>
				<td>@user.getPassword()</td>
				<td><a href="/delete/@user.getId()" class="sr-only-focusable">Delete</a></td>
			</tr>
			}
			</tbody>
		</table>
</div>
}